<div class="card mt-3">
  <div class="card-body">
    <h3>tHIS IS TITLE</h3>
    <p >orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
 <div class="container">
   <button class="btn btn-primary btn-sm">Update</button>
   <button class="btn btn-danger ms-3 btn-sm">Delete</button>


 </div>
  </div>
</div>
